<!DOCTYPE html>
<html>
<head>
     <base target="_top">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= og.title %></title>
    <meta name="description" content="<%= og.description %>">
    <meta property="og:title" content="<%= og.title %>">
    <meta property="og:description" content="<%= og.description %>">
    <meta property="og:image" content="<%= og.image %>">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript" src='/js/alertConfig.js'></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WDYBWY97KW"></script>
<!--Google Analytics-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-WDYBWY97KW');
</script>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }
        .leaflet-container {
            height: 400px;
            width: 600px;
            max-width: 100%;
            max-height: 100%;
        }
        .divInput:nth-child(4){
            display: flex;
            justify-content:end;
    
            align-items: end;
        }
        #fo{
            margin-bottom:5rem;
        }

    </style>
    <style>body { padding: 0; margin: 0; } #map { height: 90%; width: 90vw;margin:3rem auto;border-radius:20px; }</style>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Curriculum</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
     <script type="text/javascript" src="/js/alertConfig.js"></script>
</head>
<body>
 <div class='principal'>
    <!----------------Div 02.---------------->
    <div class='div-2'>

     <div class='experienciaLaboral'>
        <div class='icon-datos-personales'>
         <h2>Experiencia Laboral</h2>
          <div class="line-with-arrow"></div> 
          
     </div>

     <ul class='ul-datos-personales'>
        <li>Preparador de matemáticas</li>
        <li>Comerciante de ropa al mayor</li>
        <li>Editor de fotos y flyer</li>
        <li>Vigilante diurno empresa Purolomo</li>
    </ul>
</div>

<div class='formacionA'>
  <div class='icon-datos-personales'>
     <h2>Formacion Academica</h2>
      <div class="line-with-arrow"></div> 
 </div>
 <ul class='ul-datos-personales'>
     <li>Primaria: U.E.N. Roscio</li>
     <li>Secundaria: U.E.N. Roscio</li>
     <li>Educacion Superior: Actualmente estudiando Informatica</li>
     <li id='insertar'></li>
 </ul>
</div>



<div class='habilidadesD'>

  <div class='icon-datos-personales margen-bottom'>
     <h2>Habilidades y Destrezas</h2>
      <div class="line-with-arrow"></div> 
 </div>

 <div class='divProgreso'>
     <ul class="ol">
        <div>
            <li>HTML:</li>
            <li><progress value="60" max="100" class="progresss"></progress><span>60%</span></li>  
        </div>

        <div>
           <li>CSS : </li>
           <li><progress value="50" max="100"></progress><span> 50%</span></li>   
       </div>

       <div>
        <li>javascripts : </li>
        <li><progress value="30" max="100"></progress><span class="greenn"> 30%</span></li> 
    </div>

    <div>
        <li>Matemáticas:</li>
        <li><progress value="80" max="100"></progress><span class="greenn"> 80%</span></li>  
    </div>

    <div>
       <li>Redes: </li>
       <li><progress value="50" max="100"></progress><span class="greenn"> 50%</span></li>   
   </div>

   <div>
      <li>Fisica: </li>
      <li><progress value="70" max="100"></progress><span class="greenn"> 70%</span></li>  
  </div>



</ul>

</div>

<section class="formulario">
        <h2 id='fo'>Formulario</h2>

        <form action="/contacto" method='post' class="formularioo">

            <div class='divInput'>
                <label>Nombre</label>
                <input type="text" name="nombre" placeholder="Ingrese Nombre" required>
            </div>

            <div class='divInput'>
                <label>Correo</label>
                <input type="email" name="email" placeholder="Ingrese Email" required>
            </div>

            <div class='divInput'>
                <label>Comentario</label>
                <input type="text" name="comentario" placeholder="Ingrese Comentario" required>
            </div>

            <div class="divInput">
               <div class="g-recaptcha" data-sitekey="6Ldaie4pAAAAAMEnhfckqiT-40E6SmPvFGntbhp5"></div>  
            </div>

            <div class='divButton'>
                <button title="Enviar Mensaje" class='button'>Enviar</button>
            </div>

             <div style="width:25%;margin-top:2rem;">
                  <a style="width:100%;height:100%;" title="Inicia sesion con Google" href='/auth/google'><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png" style="width:100%;height:100%;"></a> 
             </div> 

        </form>

    </section>

</div>

</div><!--END DIV2--->
<div class='div-1'>

   <div class='perfil'>
    <img class='imgPerfil cls' src="/Imagen/perfil.jpeg">
    <h2 class='div1texto cls'>Nicolas MigueL Calderin Hernandez</h2>
    <p class='div1texto cls'>Estudiante</p>
</div> 

<div class='datos-contacto'>
 <div class='icon-datos-personales'>
    <h2 class='div1texto'>Datos Contacto</h2> 
     <div class="line-with-arrow"></div> 


</div>
<ul class='ul-datos-personales'>
   <li>Correo: nicolas@gmail.com</li>
   <li>Telefono:0412-476-455</li>
   


   <div class="redes-sociales">
    <li>Facebook:</li>
    <div style="width:100%">
        <hr>
    </div>
    <a href="https://www.facebook.com" title="Click para ir" target="_blank"><img src="./icon/facebook.png" class="IMG-social"></a>    
</div>

<div class="redes-sociales">
    <li>Instagram:</li>
    <div style="width:100%">
        <hr>
    </div>
    <a href="https://www.instagram.com" title="Click para ir" target="_blank"><img src="./icon/social.png" class="IMG-social"></a>    
</div>

</ul>
</div>

<div class='datos-personales'>

    <div class='icon-datos-personales'>

      <h2 class='div1texto'>Datos Personales</h2>  
       <div class="line-with-arrow"></div> 

  </div>

  <ul class='ul-datos-personales'>
   <li>Cedula :31869852</li>
   <li>Ciudad :San Juan</li>
   <li>Dirección: Avenida Boliva</li>
   <li>Casa : #11</li>
   <li>postal :2301</li>
</ul>
</div> 

</div>


</div><!--principal-->
<div id='map'></div>

<script>
    window.addEventListener('load',()=>{
     const socket = io();
    const map = L.map('map').fitWorld();

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function onLocationFound(e) {
        const radius = e.accuracy / 2;

        const locationMarker = L.marker(e.latlng).addTo(map)
            .bindPopup(`You are within ${radius} meters from this point`).openPopup();

        const locationCircle = L.circle(e.latlng, radius).addTo(map);
        console.log(`latitud : ${e.latlng.lat} longitud : ${e.latlng.lng}`)
        socket.emit('location',e.latlng);
        fetch(`/ubicacion?lat=${e.latlng.lat}&lng=${e.latlng.lng}`)
        .then(res=>res.json())
        .then(respuesta=>{
            console.log(respuesta,'XXXXXXXXXXXXXXXXXXXXXXXXX');
        })
        
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({setView: true, maxZoom: 16});

    function locate(){
        map.locate({setView: true, maxZoom: 16});
    }
    setInterval(locate,5000);
    })
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">

    let insertar = document.getElementById('insertar');
    window.addEventListener('resize', function() {
       let anchoViewport = window.innerWidth;
       let altoViewport = window.innerHeight;
       insertar.innerHTML=`ancho : ${anchoViewport} alto : ${altoViewport}`


   });
    
</script>
</body>
</html>
